@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<h3>Test Claims</h3>
<div>
    <a asp-action="SuperAdmin" asp-controller="TestClaims">Super Admin</a>
</div>
<div>
    <a asp-action="Admin" asp-controller="TestClaims">Admin</a>
</div>
<div>
    <a asp-action="Member" asp-controller="TestClaims">Member</a>
</div>
